@model PermissionSystemMVC.Models.ViewModels.ViewCreateUsersModels;

@{
    ViewData["Title"] = "Create User";
}
<h1>Create new user</h1>

<form asp-action="CreateUsers">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">

            <label asp-for="Username"></label>
            <input asp-for="Username" value=" " class="form-control" />
            <span asp-validation-for="Username" class="text-danger"></span>

        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Password"></label>
            <input asp-for="Password" type="password" value="" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6" >
            <label asp-for="DepartmentId"></label>
            <select asp-for="DepartmentId" class="form-control" asp-items="ViewBag.DepList"></select>
            <span asp-validation-for="DepartmentId" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6" style="padding-left:20px;  ">

            <label class="control-label">Roles:</label>
            <br />
            @foreach (var item in ViewBag.RoleList)
            { 
                <div class="form-check-inline">
                    <input class="form-check-input" name="Roles" type="checkbox" id="@item" value="@item">
                    <label class="form-check-label" for="@item">@item</label>
                </div>

            }
        </div>

    </div>
    <input type="submit" value="Create" class="btn btn-primary" />
    <button class="btn btn-secondary" asp-action="ManageUsers">Back</button>
</form>
