@model IEnumerable<PermissionSystemMVC.Models.Department>
@{
    ViewData["Title"] = "Manage Departments";
}
<h2>Manage Departments</h2>
<br />

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" style="float:right">
    Create Department
</button>
<br />

@if (Model == null)
{
    <div class="alert alert-primary" role="alert">
        <span> No Departments Added ! </span>
    </div>
}
else
{
    <table id="data-table" class="table" width="100%">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>

    </table>
}

<!--Modal CreateDepartment!-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-action="CreateDepartment">

                <div class="modal-body">
                    <div class="col-auto">
                        Enter Department Name
                        <input value="" class="form-control mb-2" id="inlineFormInput" type="text" name="Name" required>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit" value="Create" class="btn btn-primary" />

                </div>
            </form>
        </div>
    </div>
</div>

<!--Modal Edit Department!-->
<div class="modal fade" id="EditDepartment" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-action="EditDepartment">
                <input type="hidden" id="EditDepartmentId" name="Id">
                <div class="modal-body">
                    <div class="col-auto">
                        Enter Department Name
                        <input value="" class="form-control mb-2" id="EditDepartmentName" type="text" name="Name" required>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit" value="Edit" class="btn btn-primary" />

                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/js/ManageDepartment.js"></script>
}
