@model IEnumerable<PermissionSystemMVC.Models.Request>

@{
    ViewData["Title"] = "Manager Index";
}

<div class="row">
    <div class="col-10">
        <h2>Requests</h2>
    </div>
</div>
<div class="w-75 p-3 mx-auto">
    <h6>Employees Data this month:</h6>

    <table id="DashBorad" class="table-sm table-hover" display nowrap >
        <thead>
            <tr>
                <th> Employee</th>
                <th>Requests</th>
                <th>Hours</th>
                <th>New</th>
                <th>Approved</th>
                <th>Rejected</th>
            </tr>
        </thead>
    </table>
</div>

<hr />
<br />

@if (Model == null)
{
    <span> NO Data !</span>
}
else
{
    <table id="data-table" class="table table-hover" display nowrap width="100%">
        <thead>
            <tr>
                <th>Employee</th>
                <th>Prmisssion Type</th>
                <th>Date Prmission</th>
                <th>From Time</th>
                <th>To Time</th>
                <th>Create Date</th>
                <th>Status</th>
                <th>Approve</th>
                <th>Reject</th>
            </tr>
        </thead>
    </table>
}
@section Scripts {

    <script>
        $(document).ready(function () {

            var DashBorad = $("#DashBorad").DataTable({
                "scrollY": "200px",
                "scrollCollapse": true,
                "paging": false,
                "bInfo": false,
                "ordering": false,
                "ajax": {
                    "url": 'Manager/GetUserList',
                    "type": 'get',
                    "datatype": 'json'
                },
                "columns": [
                    { "data": "name" },
                    { "data": "requests" },
                    { "data": "hours" },
                    { "data": "new" },
                    { "data": "approved" },
                    { "data": "rejected" }
                ]
            });


            var myTable = $("#data-table").DataTable({
                "ajax": {
                    "url": 'Manager/GetAllRequestsIndex',
                    "type": 'get',
                    "datatype": 'json'
                },
                "columns": [
                    { "data": "createdBy" },
                    { "data": "prmisssionType" },
                    { "data": "datePrmission" },
                    { "data": "fromTime" },
                    { "data": "toTime" },
                    { "data": "createDate" },
                    { "data": "status" },
                    {
                        "data": null,
                        "render": function (data, type) {
                            if (data.status === "New") {
                                return '<button class="btn btn-success" onclick="Approve(' + data.id + ')">Approve</button>';
                            } else {
                                return '<p class="text-center">----</p>';
                            }
                        }
                    },
                    {
                        "data": null,
                        "render": function (data, type) {
                            if (data.status === "New") {
                                return '<button class="btn btn-danger" onclick="Reject(' + data.id + ')">Reject</button>'
                            } else {
                                return '<p class="text-center">----</p>';
                            }
                        }

                    }
                ]
            });

        });

        function Approve(id) {
            bootbox.confirm({
                size: "small",
                message: "Are you sure you want to approve the request?",
                callback: function (result) {
                    if (result) {
                        $.ajax({
                            type: "POST",
                            url: "Manager/ApproveRequest",
                            data: { Id: id },
                            dataType: "json",
                            success: function (data) {

                                if (data.resulte) {
                                    toastr.success(data.msg, 'Done');
                                    $('#data-table').DataTable().ajax.reload();
                                    $('#DashBorad').DataTable().ajax.reload();
                                }
                                else {
                                    toastr.error(data.msg, 'Error');
                                }
                            },
                            error: function (req, status, error) {
                                alert(error);
                            }
                        });
                    }
                }
            });
        }
        function Reject(id) {
            bootbox.confirm({
                size: "small",
                message: "Are you sure you want to reject this request?",
                callback: function (result) {
                    if (result) {
                        $.ajax({
                            type: "POST",
                            url: "Manager/RejectRequest",
                            data: { Id: id },
                            dataType: "json",
                            success: function (data) {

                                if (data.resulte) {
                                    toastr.success(data.msg, 'Done');
                                    $('#data-table').DataTable().ajax.reload();
                                    $('#DashBorad').DataTable().ajax.reload();

                                }
                                else {
                                    toastr.error(data.msg, 'Error');
                                }
                            },
                            error: function (req, status, error) {
                                alert(error);
                            }
                        });
                    }
                }
            });
        }

    </script>

}
